<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<footer>
    <div class="container">
        <div id="craftedby">
            Crafted By : WebPros
        </div>
        <div id="info">
            All Rights Reserved
        </div>
        <div id="year">
            2023 - 2024
        </div>
    </div>
</footer>