<head>
    <link rel="stylesheet" href="/css/home.css">
    <title>
        <%= title%>
    </title>
</head>

<body>
        <div class="sub-page-container">
            <section id="AddPost">
                <% if(locals.user){ %>
                    <h4>
                        Write Up Your Mind
                    </h4>

                    <section id="feed-news">
                        <form action="/posts/createpost" id="post-form" method="post">
                            <textarea name="content" cols="30" rows="3" placeholder="Type Here" required></textarea>
                            <input type="submit" value="Post">
                        </form>
                    </section>
                <% }else { %>
                    <h4>
                        Sign In to Post
                    </h4>
                <% } %>
            </section>



            <section id="interaction-section">



                

                        <% if(locals.posts){ %>
                            <div id="post-container">
                                <h2>News Feed</h2>
                                <ul id="latest-feed">
                                    <% for(let post of posts){ %>
                                        <%- include('./_post.ejs' , {post : post}) -%>
                                            <% } %>
                                </ul>
                            </div>
                            <%} %>
            </section>

            <section id="user-friends">
                <h4>
                    Friends
                </h4>
                <ul>
                    <% for(let f of friends) { %>
                        <li>
                            <a href="/users/profile/<%= f.id %>">
                                <%= f.name %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </section>
        </div>



    <script src="/js/home.js"></script>
</body>
