<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>Welcome to the Website <%= name%></h1>
    <form action="./sign-out" method="get">
        <input type="submit" value="Sign Out">
    </form>
</body>
</html>