footer{
    height: 175px;
    width: 100%;
    /* display: flex; */
    background-color: rgb(151, 157, 162);
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
}

/* .container{
    position: absolute;
    top: 40%;
    left: 40%;
} */

.myFooter{
    position: absolute;
    text-align: center;
    padding-top: 2.75%;
    height: 100%;
    width: 20%;
    left: 40%;
}


#craftedby{
    margin-bottom: 5px;
    font-size: 1.22em;
    font-weight: 700;
}

/* #info{
    text-align: center;
}

#year{
    text-align: center;
} */