body{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin-left: 0;
    margin-top: -15px;
}

.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sub-page-container{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
}

#AddPost{
    display: inline-block;
    width: 35%;
    height: inherit;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

#interaction-section{
    /* position: absolute;
    left: 35%; */
    display: inline-block;
    width: 40%;
    height: inherit;
    padding: 10px;

}

#user-friends{
    display: inline-block;
    padding: 10px;
    /* position: absolute;
    right: 0%; */
    width: 25%;
    height: auto;
    min-height: 100vh;
    border-left: 1px solid lightgrey;
}

