<div>

    <p>Hi <%= user%>!</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on getTogether</p>
    <br>
    <br>
    <p>Thanks for using Our Platform</p>



</div>